<div class="layout-main">

    <div class="layout-content layout-top">
        <div class="p-grid">
            <div class="p-col-12">
                <div class="card card-box">
                    <span class="breadcrumb-desktop">
                        <h1>
                            <em class="title-icon icon-gestionBodega"></em>
                            REGISTROS GENERALES
                        </h1>

                    </span>


                    <div class="md-content" flex md-scroll-y>
                        <div>
                            <perfect-scrollbar class="content-overflow" [disabled]="funcionesGenerales.getDevice()">
                                <div class="card">


                                    <div class="p-grid">
                                        <div class="p-col-4">
                                            <span class="breadcrumb-desktop">
                                                <h1>LISTADO DE {{selectedTipo}}</h1>
                                            </span>
                                        </div>

                                        <div class="p-col-8">

                                            <button class="btn-polaris atajo" type="button" pButton label="Planta"
                                                (click)="seleccionarTipo('PLANTA')"
                                                icon="icommon pi pi-sign-in"></button>

                                            <button class="btn-polaris atajo" type="button" pButton label="Color"
                                                (click)="seleccionarTipo('COLOR')"
                                                icon="icommon pi pi-sign-in"></button>

                                            <button class="btn-polaris atajo" type="button" pButton label="Referencia"
                                                (click)="seleccionarTipo('REFERENCIA')"
                                                icon="icommon pi pi-sign-in"></button>

                                            <button class="btn-polaris atajo" type="button" pButton label="Modelo"
                                                (click)="seleccionarTipo('MODELO')"
                                                icon="icommon pi pi-sign-in"></button>

                                        </div>

                                    </div>




                                    <p-table class="VisActEli" emptyMessage="lista vacía" #dt [columns]="cols"
                                        class="tableList" [value]="registrosGenerales" [paginator]="true" [rows]="10"
                                        [rowsPerPageOptions]="[10,20,50,100,200]">
                                        <ng-template pTemplate="caption">
                                            <div class="ui-helper-clearfix">
                                                <div class="p-grid">
                                                    <div class="p-col-12 p-md-12 filter-container tableMenu">
                                                        <div style="position:initial" class="flex table-search">

                                                            <div class="p-col-12 p-md-12 flex organizarSelect">
                                                                <input type="text" pInputText placeholder="Buscar"
                                                                    (input)="dt.filterGlobal($event.target.value, 'contains')">
                                                                <button class="btn-polaris" type="button" pButton
                                                                    label="Registrar" (click)="iniciarRegistro()"
                                                                    icon="icommon pi pi-save"></button>
                                                            </div>

                                                            <div
                                                                class="p-col-4 p-md-4 flex organizarSelect listExport childBefore">
                                                                <label class="totalRegistros">Total registros:
                                                                    {{totalRegistros}}</label>
                                                                <button type="button" pButton
                                                                    icon="icommon pi pi-download" iconPos="left"
                                                                    label="Exportar excel" (click)="exportExcel()"
                                                                    style="float:right"></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-template>

                                        <ng-template pTemplate="header" let-columns>
                                            <tr>
                                                <th *ngFor="let col of columns" class="{{col.class}}"
                                                    scope="{{col.header}}">
                                                    {{col.header}}
                                                </th>
                                            </tr>
                                            <tr>
                                                <th *ngFor="let col of columns" [ngSwitch]="col.field"
                                                    scope="{{col.field}}">

                                                    <input *ngSwitchCase="'mod_nombre'" style="width: 100%"
                                                        placeholder="Buscar" pInputText type="text"
                                                        (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                                                        [(ngModel)]="filterCodigo"
                                                        (keyup)="filterCodigo = funcionesGenerales.mayuscula(filterCodigo)">

                                                    <p-multiSelect *ngSwitchCase="'mod_referencia_nombre'"
                                                        [options]="tipos" [style]="{'width':'100%'}"
                                                        defaultLabel="Estados"
                                                        (onChange)="dt.filter($event.value, col.field, 'in')"
                                                        selectedItemsLabel="{0} Tipos seleccionados"
                                                        [(ngModel)]="filterTipo">
                                                    </p-multiSelect>

                                                    <p-multiSelect *ngSwitchCase="'mod_planta_nombre'" [options]="tipos"
                                                        [style]="{'width':'100%'}" defaultLabel="Estados"
                                                        (onChange)="dt.filter($event.value, col.field, 'in')"
                                                        selectedItemsLabel="{0} Tipos seleccionados"
                                                        [(ngModel)]="filterTipo">
                                                    </p-multiSelect>

                                                    <p-calendar class="calendarModal" showButtonBar="true"
                                                        *ngSwitchCase="'mod_fecha_creacion'" [style]="{'width':'100%'}"
                                                        [locale]="funcionesGenerales.es" dateFormat="yy-mm-dd"
                                                        [readonlyInput]="true" [touchUI]="true"
                                                        placeholder="F. creación" [(ngModel)]="filterFechaCre"
                                                        (onSelect)="dt.filter(funcionesGenerales.formatearFechaCorta($event), col.field, col.filterMatchMode);"
                                                        (onClearClick)="dt.filter('', col.field, col.filterMatchMode);">
                                                    </p-calendar>

                                                </th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                                            <tr [pSelectableRow]="rowData">
                                                <td *ngFor="let col of columns" [ngSwitch]="col.field">
                                                    {{rowData[col.field]}}

                                                    <div *ngSwitchCase="'actualizar'" class="centrarFlex">
                                                        <button type="button" pButton
                                                            (click)="iniciarActualizacion(rowData)"
                                                            icon="pi pi-pencil"></button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>

                                </div>
                            </perfect-scrollbar>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>




<p-dialog class="modal-content max" [(visible)]="display" [modal]="true" [style]="{'width':'auto'}" [blockScroll]="true"
    [closable]="false" [responsive]="true">
    <p-header>
        <h1>{{ title }} {{selectedTipo}}</h1>
    </p-header>
    <div class="layout-content">
        <div class="card">
            <div class="card-content ui-fluid">
                <div class="card card-w-title">

                    <div class="p-grid" style="margin-top: 2%;">
                        <div class="p-col-12">
                            <div class="p-grid">

                                <div class="p-lg-12" *ngIf="regReferencia" style="margin-top: 1%;">

                                    <div class="p-grid">

                                        <div class="p-lg-12">
                                            <div class="p-lg-6">
                                                <span class="ui-float-label">
                                                    <input id="float-input" type="text" [(ngModel)]="rege_nombre"
                                                        minlength="2" maxlength="50" pInputText
                                                        (input)="funcionesGenerales.validarTextoA($event);"
                                                        [(disabled)]="viwer">
                                                    <label for="float-input">Nombre</label>
                                                </span>

                                            </div>
                                        </div>

                                        <div class="p-lg-3">
                                            <span class="ui-float-label">
                                                <input id="float-input" type="text" size="30" maxlength='8' pInputText
                                                    [(ngModel)]="precioCortada" (keyup)="formatearMoneda();">
                                                <label for="float-input">Precio Cortada</label>
                                            </span>
                                        </div>
                                        <div class="p-lg-3">
                                            <span class="ui-float-label">
                                                <input id="float-input" type="text" size="30" maxlength='8' pInputText
                                                    [(ngModel)]="precioGuarnicion" (keyup)="formatearMoneda();">
                                                <label for="float-input">Precio Guarnición</label>
                                            </span>
                                        </div>
                                        <div class="p-lg-3">
                                            <span class="ui-float-label">
                                                <input id="float-input" type="text" size="30" maxlength='8' pInputText
                                                    [(ngModel)]="precioMontada" (keyup)="formatearMoneda();">
                                                <label for="float-input">Precio Montada</label>
                                            </span>
                                        </div>
                                        <div class="p-lg-3">
                                            <span class="ui-float-label">
                                                <input id="float-input" type="text" size="30" maxlength='8' pInputText
                                                    [(ngModel)]="precioLimpiada" (keyup)="formatearMoneda();">
                                                <label for="float-input">Precio Limpiada</label>
                                            </span>
                                        </div>
                                    </div>

                                </div>


                                <div class="p-lg-12" *ngIf="regModelo" style="margin-top: 1%;">
                                    <div class="p-grid">

                                        <div class="p-lg-6">
                                            <div class="p-grid">

                                                <div class="p-lg-12">
                                                    <span class="ui-float-label">
                                                        <input id="float-input" type="text" [(ngModel)]="rege_nombre"
                                                            minlength="2" maxlength="50" pInputText
                                                            (input)="funcionesGenerales.validarTextoA($event);"
                                                            [(disabled)]="viwer">
                                                        <label for="float-input">Nombre</label>
                                                    </span>

                                                </div>

                                                <div class="p-lg-6">
                                                    <span class="ui-float-label">
                                                        <p-dropdown emptyFilterMessage="Sin resultados"
                                                            [options]="referencias" [(ngModel)]="selectedReferencia"
                                                            [autoWidth]="true" optionLabel="rege_nombre"
                                                            placeholder="  " [(disabled)]="viwer">
                                                        </p-dropdown>
                                                        <label for="float-input">Referencia</label>
                                                    </span>
                                                </div>

                                                <div class="p-lg-6">
                                                    <span class="ui-float-label">
                                                        <p-dropdown emptyFilterMessage="Sin resultados"
                                                            [options]="plantas" [(ngModel)]="selectedPlanta"
                                                            [autoWidth]="true" optionLabel="rege_nombre" placeholder=" "
                                                            [(disabled)]="viwer">
                                                        </p-dropdown>
                                                        <label for="float-input">Planta</label>
                                                    </span>
                                                </div>


                                                <div class="p-lg-6">
                                                    <span class="ui-float-label">
                                                        <p-dropdown emptyFilterMessage="Sin resultados"
                                                            [options]="tipoMaterial" [(ngModel)]="selectedTipoMaterial"
                                                            [autoWidth]="true" (ngModelChange)="getMateriales()"
                                                            placeholder=" " [(disabled)]="viwer">
                                                        </p-dropdown>
                                                        <label for="float-input">Tipo de material</label>
                                                    </span>
                                                </div>

                                                <div class="p-lg-6">
                                                    <span class="ui-float-label">
                                                        <p-dropdown emptyFilterMessage="Sin resultados"
                                                            [options]="materiales" [(ngModel)]="selectedMaterial"
                                                            [autoWidth]="true" placeholder=" " optionLabel='descripcion'
                                                            [(disabled)]="viwer">
                                                        </p-dropdown>
                                                        <label for="float-input">Material</label>
                                                    </span>
                                                </div>

                                                <div class="p-lg-6">
                                                    <span class="ui-float-label">
                                                        <input id="float-input" type="text" size="30" maxlength='10'
                                                            pInputText [(ngModel)]="cantidad"
                                                            (keyup)="formatearCantidadMetros();">
                                                        <label for="float-input">Cantidad en metros para una
                                                            docena</label>
                                                    </span>
                                                </div>
                                                <div class="p-lg-6">
                                                    <button pButton type="button" label="Agregar"
                                                        (click)="agregarMaterial()" style="margin: 1%;"
                                                        class="ui-button-success ui-button-rounded btn-polaris auto"></button>
                                                </div>

                                            </div>

                                        </div>


                                        <div class="p-lg-6">
                                            <p-dataTable [value]="MaterialesModelo" [paginator]="true" [rows]="5"
                                                expandableRows="true" emptyMessage="lista vacía" selectionMode="single"
                                                class="tableMin">
                                                <p-header>

                                                </p-header>
                                                <p-column field="nombre" header="Nombre"></p-column>
                                                <p-column field="tipo" header="Tipo"></p-column>
                                                <p-column field="cantidad" header="Cantidad par"></p-column>
                                                <p-column styleClass="col-button thIcons" header="Eliminar"
                                                    [style]="{'width':'75px','text-align':'center'}">
                                                    <ng-template let-material="rowData" pTemplate="body">
                                                        <button type="button" pButton
                                                            (click)="eliminarMaterial(material)" icon="pi pi-trash"
                                                            class="clean"></button>
                                                    </ng-template>
                                                </p-column>
                                            </p-dataTable>
                                        </div>


                                    </div>
                                </div>

                                <div class="p-lg-12" *ngIf="regColor || regPlanta" style="margin-top: 1%;">

                                    <div class="p-lg-6 p-lg-offset-3">
                                        <span class="ui-float-label">
                                            <input id="float-input" type="text" [(ngModel)]="rege_nombre" minlength="2"
                                                maxlength="50" pInputText
                                                (input)="funcionesGenerales.validarTextoA($event);"
                                                [(disabled)]="viwer">
                                            <label for="float-input">Nombre</label>
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>


                </div>
            </div>
            <div class="card-action">
                <div class="center-flex input-field col 12" *ngIf="!viwer && RegistroGeneral.rege_id == ''">
                    <button class="btn-polaris" type="button" pButton label="Registrar" (click)="registrarRegistro()"
                        icon="icommon pi pi-save"></button>
                </div>
                <div class="center-flex input-field col 12" *ngIf="!viwer && RegistroGeneral.rege_id != ''">
                    <button class="btn-polaris" type="button" pButton label="Actualizar" (click)="actualizarRegistro()"
                        icon="icommon pi pi-pencil"></button>
                </div>
                <!-- aca en disable va la validacion del formulario -->
            </div>
        </div>
    </div>
    <p-footer>
        <button type="button" pButton icon="icommon pi pi-arrow-left" (click)="display=false"
            (click)="limpiarFormulario()" label="Volver"></button>
    </p-footer>
</p-dialog>



<p-confirmDialog class="confirmDialogModal" header="Confirmar" icon="fa fa-question-circle" #cd>
    <p-footer>
        <button class="btn-polaris" type="button" pButton icon="icon-checked" style="text-align: center" label="Sí"
            (click)="cd.accept()"></button>
        <button class="btn-polaris" type="button" pButton icon="icon-cancel" style="text-align: center" label="No"
            (click)="cd.reject()"></button>
    </p-footer>
</p-confirmDialog>
<p-toast key="tst" [style]="{marginTop: '70px'}"></p-toast>
<app-footer></app-footer>
<div class="layout-mask"></div>