<div class="layout-main">

  <div class="layout-content layout-top">
    <div class="p-grid">
      <div class="p-col-12">
        <div class="card card-box">
          <div class="md-content" flex md-scroll-y>
            <div>
              <perfect-scrollbar class="content-overflow" [disabled]="funcionesGenerales.getDevice()">
                <div class="card">

                  <span class="breadcrumb-desktop">
                    <h1>GESTIÓN DE NOTAS</h1>
                  </span>

                  <p-toolbar>
                    <div class="ui-toolbar-group-left">
                      <h3 class="total-record">Total registros: {{notas.length}}</h3>
                    </div>
                    <div class="ui-toolbar-group-right">
                      <i class="pi pi-plus-circle" title="Nuevo" (click)="addOrEdit(null)"></i>
                    </div>
                  </p-toolbar>

                  <div *ngFor="let nota of notas; let i = index" class="notas-card">
                    <p-card header={{nota.not_nombre}} [style]="{'width': '25rem', 'margin-bottom': '2em'}">
                      <a style="float: right; width: 100%; text-align: end; color: #801f18;">
                        {{nota.not_fecha_creacion}}</a>
                      <p>{{nota.not_descripcion}}</p>
                      <i class="pi pi-times-circle" title="Elminar" (click)="delete(nota)" style="float: right;
                      font-size: 35px; color: #801f18; cursor: pointer;"></i>
                    </p-card>
                  </div>

                </div>
              </perfect-scrollbar>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog class="modal-content max" [(visible)]="display" [modal]="true" [style]="{'width':'auto'}" [blockScroll]="true"
  [closable]="false" [responsive]="true">
  <p-header>
    <h1>CREAR UNA NOTA</h1>
    <hr>
  </p-header>
  <div class="layout-content">
    <div class="card">
      <div class="card-content ui-fluid">
        <div class="card card-w-title">

          <div class="p-grid">
            <div class="p-col-12">

              <form [formGroup]="form">
                <div class="ui-g-12 ui-md-12 ui-lg-12">
                  <div class="ui-g-12 ui-md-4 ui-lg-4 ui-fluid">
                    <span class="ui-float-label">
                      <input id="not_nombre" (input)="utilitiesString.convertOnlyText($event, form.get('not_nombre'))"
                        maxlength="60" type="text" pInputText formControlName="not_nombre">
                      <label>Nombre<span class="required-field">*</span></label>
                    </span>
                  </div>

                  <div class="ui-g-12 ui-md-8 ui-lg-8 ui-fluid">
                    <span class="ui-float-label">
                      <input id="not_descripcion" maxlength="300" type="text" pInputText
                        formControlName="not_descripcion">
                      <label>Descripcion<span class="required-field">*</span></label>
                    </span>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="card-action" style="text-align: center;">
        <button pButton label="Guardar" style="background-color: #aa2e25; border: 1px solid #4d120d;"
          [disabled]="!form.valid" (click)="save()" icon="pi pi-save"></button>
      </div>
    </div>
  </div>
  <p-footer>
    <button type="button" pButton icon="icommon pi pi-arrow-left" (click)="display=false" (click)="limpiarFormulario()"
      label="Volver"></button>
  </p-footer>
</p-dialog>

<p-toast [style]="{marginTop: '70px'}"></p-toast>

<p-confirmDialog class="confirmDialogModal" icon="fa fa-question-circle" #cd>
  <p-footer>
    <button class="btn-polaris" type="button" pButton icon="icon-checked" style="text-align: center" label="Sí"
      (click)="cd.accept()"></button>
    <button class="btn-polaris" type="button" pButton icon="icon-cancel" style="text-align: center" label="No"
      (click)="cd.reject()"></button>
  </p-footer>
</p-confirmDialog>
<app-footer></app-footer>
<div class="layout-mask"></div>