<div class="layout-main">

  <div class="layout-content layout-top">
    <div class="p-grid">
      <div class="p-col-12">
        <div class="card card-box">
          <span class="breadcrumb-desktop">
            <h1>
              <em class="title-icon icon-gestionBodega"></em>
              PAGAR TICKETS
            </h1>

          </span>


          <div class="md-content" flex md-scroll-y id="content" #content>
            <div>
              <perfect-scrollbar class="content-overflow" [disabled]="funcionesGenerales.getDevice()">
                <div class="card">

                  <span class="breadcrumb-desktop">
                    <h1>LISTADO DE TICKETS</h1>
                  </span>

                  <div class="p-grid ui-fluid">

                    <div class="p-lg-3">
                      <p-dropdown emptyFilterMessage="Sin resultados" [options]="areas" [(ngModel)]="selectedArea"
                        [(disabled)]="viwer" [autoWidth]="true" (ngModelChange)="getEmpleados()"
                        placeholder="Area de trabajo">
                      </p-dropdown>
                    </div>

                    <div class="p-lg-3">
                      <p-dropdown emptyFilterMessage="Sin resultados" [options]="empleados" optionLabel="emp_nombre"
                        [(disabled)]="viwer" [(ngModel)]="selectedEmpleado" [autoWidth]="true" placeholder="Empleado">
                      </p-dropdown>
                    </div>

                    <div class="p-lg-4">
                      <input type="text" [(ngModel)]="numeroTicket" pInputText placeholder="Codigo Ticket"
                        requerido="true" class="form-control" (input)="funcionesGenerales.validarNumeros($event);"
                        (keyup.enter)="agregarTicket()">
                    </div>

                    <div class="p-lg-2">
                      <div class="center-flex input-field col 12">
                        <button class="btn-polaris" type="button" pButton label="Agregar" (click)="agregarTicket()"
                          icon="icommon pi pi-plus"></button>
                      </div>
                    </div>

                  </div>

                  <div class="marginAuto selectTermial firstSearch" style="margin-top: 3%;">
                    <p-dataView #dv [value]="tiquetes" emptyMessage="No se encontraron resultados"
                      filterBy="[tiq_codigo,tiq_referencia_nombre,tiq_pares]">
                      <p-header>

                        <div class="p-grid">
                          <div class="p-lg-6">
                            <h3 class="tagFont" style="text-align: left; color:black;">TOTAL TIKETS:
                              <strong style="color: #06610d; font-size: 18px; margin-left: 1%;"> {{totalRegistros}}
                              </strong>
                            </h3>
                          </div>

                          <div class="p-lg-6">
                            <h3 class="tagFont" style="text-align: right; color:black;">TOTAL A PAGAR:
                              <strong style="color: #06610d; font-size: 18px; margin-left: 1%;"> {{totalPagar}}
                              </strong>
                            </h3>
                          </div>
                        </div>

                      </p-header>
                      <ng-template let-tiq pTemplate="listItem" let-i="rowIndex">

                        <div class="p-grid">

                          <div class="p-lg-1">
                            <h2 class="tagFont"><strong>{{i + 1}}</strong></h2>
                          </div>

                          <div class="p-lg-10">
                            <div class="p-grid">

                              <div class="p-lg-3">
                                <h3 class="tagFont">Código:
                                  {{tiq.tiq_codigo}}</h3>
                              </div>

                              <div class="p-lg-3">
                                <h3 class="tagFont">Referencia:
                                  {{tiq.tiq_referencia.nombre}}</h3>
                              </div>
                              
                              <div class="p-lg-3">
                                <h3 class="tagFont">Nº Pares:
                                  {{tiq.tiq_pares}}</h3>
                              </div>

                              <div class="p-lg-3">
                                <h3 class="tagFont">Precio:
                                  {{tiq.tiq_precio_par}}</h3>
                              </div>

                            </div>
                          </div>

                          <div class="p-lg-1" style="padding: 0px;">
                            <i style="font-size: 33px; cursor: pointer; color: #f44336;" class="pi pi-times-circle"
                              (click)="eliminarTicket(tiq)"> </i>
                          </div>

                        </div>
                      </ng-template>

                    </p-dataView>
                    <div class=" bar-ui-paginator-bottom"></div>

                    <div style="margin-top: 3%;">
                      <button class="btn-polaris" type="button" pButton label="Realizar Pago" (click)="realizarPago()"
                        icon="icommon pi pi-money-bill" style="float: right;" [(disabled)]="!viwer"></button>

                      <button class="btn-polaris" type="button" pButton label="Cancelar Pago" (click)="cancelarPago()"
                        icon="icommon pi pi-times" style="float: right; margin-right: 1%;"
                        [(disabled)]="!viwer"></button>

                    </div>

                  </div>

                </div>
              </perfect-scrollbar>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<p-confirmDialog header="Confirmar" icon="fa fa-question-circle" width="425" #cd class="confirmDialogModal">
  <p-footer>
    <button class="btn-polaris" type="button" pButton icon="icon-checked" style="text-align: center" label="Sí"
      (click)="cd.accept()"></button>
    <button class="btn-polaris" type="button" pButton icon="icon-cancel" style="text-align: center" label="No"
      (click)="cd.reject();"></button>
  </p-footer>
</p-confirmDialog>



<app-footer></app-footer>
<div class="layout-mask"></div>

<div id="plantillaPDF">
  <h1>YA SABEMOS POR DONDE VAMOS</h1>
</div>