<div class="layout-main">

    <div class="layout-content layout-top">
        <div class="p-grid">
            <div class="p-col-12">
                <div class="card card-box">
                    <!--        <span class="breadcrumb-desktop">
                        <h1>
                            <em class="title-icon icon-gestionBodega"></em>
                            GESTIÓN DE PROFESORES
                        </h1>

                    </span> -->


                    <div class="md-content" flex md-scroll-y>
                        <div>
                            <perfect-scrollbar class="content-overflow" [disabled]="funcionesGenerales.getDevice()">
                                <div class="card">

                                    <span class="breadcrumb-desktop">
                                        <h1>LISTADO DE PROFESORES</h1>
                                    </span>

                                    <div class="search-box ui-inputgroup">
                                        <input type="text" pInputText size="30" placeholder="Buscar"
                                            (input)="dt.filterGlobal($event.target.value, 'contains')"
                                            style="width:auto">
                                        <span class="ui-inputgroup-addon iconInput"><em
                                                class="pi pi-search"></em></span>
                                    </div>
                                    <p-toolbar>
                                        <div class="ui-toolbar-group-left">
                                            <h3 class="total-record">Total registros: {{profesores.length}}</h3>
                                        </div>
                                        <div class="ui-toolbar-group-right">
                                            <i class="pi pi-plus-circle" (click)="addOrEdit(null)"></i>
                                        </div>
                                    </p-toolbar>
                                    <p-table #dt [columns]="cols" [value]="clients"
                                        [responsive]="configTables.responsive" [rows]="configTables.rowCount"
                                        [rowsPerPageOptions]="configTables.rowsPerPage" selectionMode="single">
                                        <ng-template pTemplate="header" let-columns>
                                            <tr>
                                                <th *ngFor="let col of columns; let i = index" id="head-clients-{{i}}"
                                                    [pSortableColumn]="col.field">
                                                    {{col.header}}
                                                    <p-sortIcon *ngIf="col.field !=='actions'" [field]="col.field">
                                                    </p-sortIcon>
                                                </th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                                            <tr [pSelectableRow]="rowData">
                                                <td *ngFor="let col of columns">
                                                    <span *ngIf="col.field !== 'actions'">
                                                        {{rowData[col.field]}}
                                                    </span>
                                                    <span *ngIf="col.field === 'actions'">
                                                        <button class="btn-icon-only-default" pTooltip="Visualizar"
                                                            type="button" pButton icon="icon-eye" iconPos="left"
                                                            (click)="addOrEdit(rowData)"></button>
                                                        <button class="btn-icon-only-gray" (click)="delete(rowData)"
                                                            type="button" pButton pTooltip="Eliminar" icon="icon-bin"
                                                            iconPos="left"></button>
                                                    </span>
                                                </td>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="emptymessage" let-columns>
                                            <tr>
                                                <td [attr.colspan]="columns.length">
                                                    {{utilitiesString.msgEmptyTable}}
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>

                                </div>
                            </perfect-scrollbar>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog class="modal-content max" [(visible)]="display" [modal]="true" [style]="{'width':'auto'}" [blockScroll]="true"
    [closable]="false" [responsive]="true">
    <p-header>
        <h1>{{ title }} CLIENTE</h1>
    </p-header>
    <div class="layout-content">
        <div class="card">
            <div class="card-content ui-fluid">
                <div class="card card-w-title">

                    <div class="p-grid">
                        <div class="p-col-12">
                            <div class="p-grid">

                                <form [formGroup]="form">
                                    <div class="ui-g-12 ui-md-12 ui-lg-12">
                                        <div class="ui-g-12 ui-md-4 ui-lg-4 ui-fluid">
                                            <span class="ui-float-label">
                                                <input id="pro_nombre"
                                                    (input)="utilitiesString.convertOnlyText($event, form.get('pro_nombre'))"
                                                    maxlength="60" type="text" pInputText formControlName="pro_nombre">
                                                <label>Nombre<span class="required-field">*</span></label>
                                            </span>
                                        </div>

                                        <div class="ui-g-12 ui-md-4 ui-lg-4 ui-fluid">
                                            <span class="ui-float-label">
                                                <input id="pro_apellido"
                                                    (input)="utilitiesString.convertOnlyText($event, form.get('pro_apellido'))"
                                                    maxlength="60" type="text" pInputText
                                                    formControlName="pro_apellido">
                                                <label>Nombre<span class="required-field">*</span></label>
                                            </span>
                                        </div>

                                        <div class="ui-g-12 ui-md-4 ui-lg-4 ui-fluid">
                                            <span class="ui-float-label">
                                                <input id="pro_correo" maxlength="60" type="text" pInputText
                                                    formControlName="pro_correo">
                                                <label>Nombre<span class="required-field">*</span></label>
                                            </span>
                                        </div>

                                        <div class="ui-g-12 ui-md-4 ui-lg-4 ui-fluid">
                                            <span class="ui-float-label">
                                                <p-dropdown [options]="statusOptions" [autoDisplayFirst]="false"
                                                    formControlName="pro_facultad"></p-dropdown>
                                                <label>Estado<span class="required-field">*</span></label>
                                            </span>
                                        </div>

                                        <div class="ui-g-12 ui-md-4 ui-lg-4 ui-fluid">
                                            <span class="ui-float-label">
                                                <p-dropdown [options]="statusOptions" [autoDisplayFirst]="false"
                                                    formControlName="pro_departamento"></p-dropdown>
                                                <label>Estado<span class="required-field">*</span></label>
                                            </span>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
            <div class="card-action">
                <button pButton label="Guardar" [disabled]="!form.valid" (click)="save()" icon="pi pi-save"></button>
            </div>
        </div>
    </div>
    <p-footer>
        <button type="button" pButton icon="icommon pi pi-arrow-left" (click)="display=false"
            (click)="limpiarFormulario()" label="Volver"></button>
    </p-footer>
</p-dialog>



<p-confirmDialog class="confirmDialogModal" header="Confirmar" icon="fa fa-question-circle" #cd>
    <p-footer>
        <button class="btn-polaris" type="button" pButton icon="icon-checked" style="text-align: center" label="Sí"
            (click)="cd.accept()"></button>
        <button class="btn-polaris" type="button" pButton icon="icon-cancel" style="text-align: center" label="No"
            (click)="cd.reject()"></button>
    </p-footer>
</p-confirmDialog>
<p-toast key="tst" [style]="{marginTop: '70px'}"></p-toast>
<app-footer></app-footer>
<div class="layout-mask"></div>