<div class="layout-main">

  <div class="layout-content layout-top">
    <div class="p-grid">
      <div class="p-col-12">
        <div class="card card-box">
          <span class="breadcrumb-desktop">
            <h1>
              <em class="title-icon icon-gestionBodega"></em>
              TABLA DE PRECIOS
            </h1>

          </span>


          <div class="md-content" flex md-scroll-y>
            <div>
              <perfect-scrollbar class="content-overflow" [disabled]="funcionesGenerales.getDevice()">
                <div class="card">

                  <span class="breadcrumb-desktop">
                    <h1>LISTADO DE PRECIOS DE REFERENCIAS</h1>
                  </span>

                  <p-table class="VisActEli" emptyMessage="lista vacía" #dt [columns]="cols" class="tableList"
                    [value]="preciosReferencias" [paginator]="true" [rows]="10"
                    [rowsPerPageOptions]="[10,20,50,100,200]">
                    <ng-template pTemplate="caption">
                      <div class="ui-helper-clearfix">
                        <div class="p-grid">
                          <div class="p-col-12 p-md-12 filter-container tableMenu">
                            <div style="position:initial" class="flex table-search">

                              <div class="p-col-12 p-md-12 flex organizarSelect">
                                <input type="text" pInputText placeholder="Buscar"
                                  (input)="dt.filterGlobal($event.target.value, 'contains')">
                              </div>

                              <div class="p-col-4 p-md-4 flex organizarSelect listExport childBefore">
                                <label class="totalRegistros">Total registros:
                                  {{totalRegistros}}</label>
                                <button type="button" pButton icon="icommon pi pi-download" iconPos="left"
                                  label="Exportar excel" (click)="exportExcel()" style="float:right"></button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>

                    <ng-template pTemplate="header" let-columns>
                      <tr>
                        <th *ngFor="let col of columns" class="{{col.class}}" scope="{{col.header}}">
                          {{col.header}}
                        </th>
                      </tr>
                      <tr>
                        <th *ngFor="let col of columns" [ngSwitch]="col.field" scope="{{col.field}}">

                         

                        </th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                      <tr [pSelectableRow]="rowData">
                        <td *ngFor="let col of columns" [ngSwitch]="col.field">

                          <p *ngSwitchDefault style="text-align: right;">{{rowData[col.field]}}</p>

                          <p *ngSwitchCase="'prere_referencia_nombre'">{{rowData[col.field]}}</p>

                          <div *ngSwitchCase="'actualizar'" class="centrarFlex">
                            <button type="button" pButton (click)="iniciarActualizacion(rowData)"
                              icon="pi pi-pencil"></button>
                          </div>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>

                </div>
              </perfect-scrollbar>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>




<p-dialog class="modal-content max" [(visible)]="display" [modal]="true" [style]="{'width':'auto'}" [blockScroll]="true"
  [closable]="false" [responsive]="true">
  <p-header>
    <h1>{{ title }} PRECIOS</h1>
  </p-header>
  <div class="layout-content">
    <div class="card">
      <div class="card-content ui-fluid">
        <div class="card card-w-title">

          <div class="p-grid">
            <div class="p-col-12">
              <div class="p-grid">

                <div class="p-lg-6">
                  <h3>Actualizar los precios de la referencia: <strong>{{ this.RegistroGeneral.rege_nombre }}</strong></h3>
                </div>

                <div class="p-lg-12" style="margin-top: 1%;">
                  <div class="p-grid">
                    <div class="p-lg-3">
                      <span class="ui-float-label">
                        <input id="float-input" type="text" size="30" maxlength='8' pInputText
                          [(ngModel)]="precioCortada" (keyup)="formatearMoneda();">
                        <label for="float-input">Precio Cortada</label>
                      </span>
                    </div>
                    <div class="p-lg-3">
                      <span class="ui-float-label">
                        <input id="float-input" type="text" size="30" maxlength='8' pInputText
                          [(ngModel)]="precioGuarnicion" (keyup)="formatearMoneda();">
                        <label for="float-input">Precio Guarnición</label>
                      </span>
                    </div>
                    <div class="p-lg-3">
                      <span class="ui-float-label">
                        <input id="float-input" type="text" size="30" maxlength='8' pInputText
                          [(ngModel)]="precioMontada" (keyup)="formatearMoneda();">
                        <label for="float-input">Precio Montada</label>
                      </span>
                    </div>
                    <div class="p-lg-3">
                      <span class="ui-float-label">
                        <input id="float-input" type="text" size="30" maxlength='8' pInputText
                          [(ngModel)]="precioLimpiada" (keyup)="formatearMoneda();">
                        <label for="float-input">Precio Limpiada</label>
                      </span>
                    </div>
                  </div>

                </div>

              </div>
            </div>

          </div>


        </div>
      </div>
      <div class="card-action">
        <div class="center-flex input-field col 12">
          <button class="btn-polaris" type="button" pButton label="Actualizar" (click)="actualizarPreciosReferencia()"
            icon="icommon pi pi-pencil"></button>
        </div>
        <!-- aca en disable va la validacion del formulario -->
      </div>
    </div>
  </div>
  <p-footer>
    <button type="button" pButton icon="icommon pi pi-arrow-left" (click)="display=false" (click)="limpiarFormulario()"
      label="Volver"></button>
  </p-footer>
</p-dialog>



<p-confirmDialog class="confirmDialogModal" header="Confirmar" icon="fa fa-question-circle" #cd>
  <p-footer>
    <button class="btn-polaris" type="button" pButton icon="icon-checked" style="text-align: center" label="Sí"
      (click)="cd.accept()"></button>
    <button class="btn-polaris" type="button" pButton icon="icon-cancel" style="text-align: center" label="No"
      (click)="cd.reject()"></button>
  </p-footer>
</p-confirmDialog>
<p-toast key="tst" [style]="{marginTop: '70px'}"></p-toast>
<app-footer></app-footer>
<div class="layout-mask"></div>